.row{
    margin-top: 10px;
}

.row__4{
    float: left;
    width: 33.33%;
}

.row__8{
    float: left;
    width: 66.66%;
}

.clear-me{
    clear: both;
}

.row--gutters{
        padding-right: 65px;
}

.row__medium-6{
    float: left;
    margin-right: 5%;
    width: 45%;
}

.row-equal-high{
    float: none;
    display: flex;
}
